/* SCSS for Custom Input Field */

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Spacing between input fields */
  }
  
  .customInput {
    height: 40px;
    font-size: 1rem;
    border: 1px solid #ccc; /* Default border */
    border-radius: 7px; /* Rounded corners */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      border-color: #888; 
    }
  
    &:focus {
      border-color: var(--primary-golden-color-dark); /* Ant Design primary color */
      box-shadow: 0 0 4px  var(--primary-golden-color-dark); /* Focus shadow effect */
    }
  
    &:disabled {
      background-color: #f5f5f5; /* Disabled background */
      cursor: not-allowed;
    }

    &::placeholder{
      font-size: 14px;
      font-weight: 600;
    }
  }
  