/* Base checkbox style */
.checkbox {
:global(.ant-checkbox-inner) {
    background-color: #fff !important; /* Background color when unchecked */
    border-color: var(--primary-golden-color-dark) !important;  /* Border color when unchecked */
  }

  /* Checkbox when checked */
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: var(--primary-golden-color-dark) !important;  /* Background color when checked */
    border-color: var(--primary-golden-color-dark) !important;  /* Border color when checked */
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    border-color: #fff !important; /* Color of the checkmark */
  }

  /* Focused state */
  :global(.ant-checkbox-input:focus + .ant-checkbox-inner) {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
  }

  /* Hover state */
  :global(.ant-checkbox-inner:hover) {
    border-color: var(--primary-golden-color-dark) !important; /* Border color on hover */
  }

  /* Active state */
  :global(.ant-checkbox-checked:hover .ant-checkbox-inner) {
    background-color: var(--primary-golden-color-dark) !important; /* Background color when hovered while checked */
    border-color: var(--primary-golden-color-dark) !important; /* Border color when hovered while checked */
  }

  /* Disabled state */
  :global(.ant-checkbox-disabled .ant-checkbox-inner) {
    background-color: #f0f0f0 !important; /* Background color when disabled */
    border-color: #d9d9d9 !important; /* Border color when disabled */
  }

  :global(.ant-checkbox-disabled .ant-checkbox-inner::after) {
    border-color: #d9d9d9 !important; /* Checkmark color when disabled */
  }
}
