.timeInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 75px;
}

.timeInput {
  width: 75px;
  height: 48px;
  font-size: var(--default-font-size); /* Makes the font appear like a digital clock */
  text-align: center;
  border: 1px solid var(--navigation-arrow);
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: var(--primary-font-color-dark);
}

.timeInput:focus {
  border-color: #000;
  border-width: 2px;

  &::placeholder{
    display: none;
  }
}

.timeInput.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.timeInput.disabled::placeholder{
  color: rgba(83, 85, 85, 0.632);
}



.timeInput::placeholder {
  color: var(--primary-font-color-dark);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
}
