.dataCell{
    padding: 17px;
    font-size: 16px;
    font-weight: var(--default-font-weight);
    color: var(--primary-font-color-dark);
}


.holidayHeading{
    font-size: var(--heading-2-size);
    font-weight: var(--sub-heading-font-weight);
    color: var(--primary-font-color-dark);
    padding: 10px;
}

.allHolidayWrapper{
    padding-bottom: 50px;
}