.customModal {

  :global(.ant-modal-body) {
    height: 100%;
  }

  .modalContent {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;

    &.normalTitle {
      color: black;
    }

    &.dangerTitle {
      color: red;
    }

    &.primaryTitle {
      color: blue;
    }
  }

  .buttonsContainer {
    display: flex;
    justify-content: right;
    margin-top: 16px;
  }
  
}