.customModal {

  :global(.ant-modal-body) {
    height: 100%;
  }

  .modalContent {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
  }
  .loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
  }

  .title {
    font-size: 24px;
    font-weight: var(--sub-heading-font-weight);
    margin-bottom: 16px;

    &.normalTitle {
      color: black;
    }

    &.dangerTitle {
      color: red;
    }

    &.primaryTitle {
      color: blue;
    }
  }

  .buttonsContainer {
    display: flex;
    justify-content: right;
    margin-top: 16px;
  }
  


}