.button {
  font-size: 16px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 10px;

  &:hover {
    .iconWrapper {
      .defaultIcon {
        opacity: 0;
      }
      .hoverIcon {
        opacity: 1;
      }
    }
  }
}

.black {
  background-color: var(--black);
  color: var(--primary-font-color-light);
  border: 1px solid var(--black);
}

.white {
  background-color: var(--primary-font-color-light);
  color: var(--black);
  border: 1px solid var(--black);
}
.red {
  background-color: var(--danger-primary-font-color);
  color: var(--primary-font-color-light);
  border: 1px solid var(--danger-primary-font-color);
}

.golden {
  background-color: transparent;
  color: var(--primary-golden-color-dark);
  text-decoration: underline;
  box-shadow: none;
}
.golden:hover {
  background-color: transparent;
  color: var(--primary-golden-color-dark) !important;
  text-decoration: underline;
}

.disabled {
  background-color: var(--disabled-button-background-dark);
  color: var(--primary-font-color-light);
  border: 1px solid var(--disabled-button-background-dark);
}

.disableCursor {
  cursor: not-allowed; /* Always show the not-allowed cursor */
  opacity: 0.3; /* Dim the button for visual feedback */
  pointer-events: none;
}

.filter {
  background-color: var(--primary-font-color-light);
  border: 1px solid var(--primary-golden-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  padding-left: 6px;
}

.link {
  color: var(--disabled-button-background-dark) !important;
  font-size: 12px;
  text-decoration: underline;
}

.linkButton {
  background-color: transparent !important;
  border: 0px !important;
  padding: 0px !important;
  box-shadow: none !important;
  height: fit-content;
}

.default {
  background-color: var(--disabled-button-background-dark); // Fallback theme
  color: var(--primary-font-color-light);
  border: 1px solid var(--disabled-button-background-dark);
}

/*
 button hovers
 */

.button:hover {
  opacity: 0.8;
}
.black:hover {
  background-color: var(--primary-font-color-light) !important;
  color: var(--black) !important;
  border: 1px solid var(--black) !important;
}

.white:hover {
  background-color: var(--black) !important;
  color: var(--primary-font-color-light) !important;
  border: 1px solid var(--black) !important;
}
.default:hover {
  background-color: var(--primary-font-color-light) !important;
  color: var(--disabled-button-background-dark) !important;
  border: 1px solid var(--disabled-button-background-dark) !important;
}
.red:hover {
  background-color: var(--primary-font-color-light) !important;
  color: var(--danger-primary-font-color) !important;
  border: 1px solid var(--danger-primary-font-color) !important;
}
.filter:hover {
  background-color: var(--primary-font-color-light);
  border: 1px solid var(--primary-golden-color-dark) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .defaultIcon {
    display: inline-block;
    transition: opacity 0.3s ease;
    line-height: 0px;
  }

  .hoverIcon {
    display: inline-block;
    position: absolute;
    opacity: 0;
    line-height: 0px;
    transition: opacity 0.3s ease;
  }
}