.holidayCard {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 140px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;

  .arrowButton {
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 0;
  }

  .holidaysDetialsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    gap: 0px;
  }

  .holidayTitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-golden-color-dark);
    margin-bottom: 10px;
  }

  .holidayDate {
    font-size: 14px;
    background-color: var(--primary-golden-color-medium);
    color: var(--black);
    padding: 10px 12px;
    max-width: fit-content;
    border-radius: 20px;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
  }
}
