.profilePreviewWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    cursor: pointer;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-golden-color-medium);
    border-radius: 50%;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.menuDropDown {
    display: flex;
    align-items: center;
    width: 11px;
    height: 6px;
    transition: transform 0.3s ease; // Smooth rotation animation
}

.rotateIcon {
    transform: rotate(180deg); // Rotate the icon 180 degrees
}


.profileNavigationList {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 13px;

    li {
        display: flex;
        flex-direction: row;
        column-gap: 13px;
        color: var(--primary-font-color-light);
        font-size: var(--heading-3-size);
        font-weight: var(--default-font-weigh);
        padding: 7px;
        border-radius: 5px;

        span {
            width: 18px;
            height: 18px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    li:hover {
        background-color: #ffffff2d;
    }
}