.navBlockWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 229px;
  height: 44px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary-font-color-light);
  padding: 0px 0px 0px 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.hovered {
    background-color: var(--logo-font-color);
    color: #000;
  }

  // Hover effect
  &:hover {

    background-color: var(--logo-font-color);
    color: #000;
  }

  // Active state styles
  &.active {
    background-color: var(--primary-golden-color-medium);
    color: var(--primary-font-color-dark);
  }

  .titleAndIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    h2 {
      font-size: var(--heading-3-size);
      font-weight: var(--default-font-weight);
      margin-bottom: auto;
      margin-top: 2px;
    }
  
  }

  .arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  

  
  // Responsive styles for hiding text on smaller screens
  @media (max-width: 1200px) {
    width: 50px; // Adjust width to fit icons only
    .titleAndIcon {

      h2 {
        display: none;
      }
      // Tooltip display
      &:hover h2 {
        opacity: 1;
        visibility: visible;
        position: absolute;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        white-space: nowrap;
        z-index: 10;
        margin-top: 70px;
        font-size: 12px;
        max-width: 150px;
      }
    }

    .arrowWrapper {
      padding: 4px; 
    }
    
  }
}
.dropdownStyle {
  z-index: 9999;

}

.blackThemeMenu {
  margin-left: 40px !important;
  margin-top: -48px !important;
  background-color: #222222 !important;
  color: #fff !important;
  border: none;
  box-shadow: 0px 4px 10px 0px #00000026 !important;
  padding: 6px !important;

  :global(ant-dropdown-arrow) {
    background-color: #000 !important;
  }

  div {
    padding: 8px 8px;
    border-radius: 8px;
    font-size: var(--heading-3-size);
    &:hover{
    background-color: #2b2929 !important;
    }
  }


  li {
    color: #fff !important;
  }
  .ant-dropdown-menu-item {
    background-color: transparent;
    color: #fff !important;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

  .ant-dropdown-menu-item-divider {
    background-color: #444;
  }

  @media (max-width: 1200px) {
  margin-left: 16px !important;
    
  }
}
