.searchBarWrapper{
    display: flex;
    flex-direction: row;
    padding: 11px 13.5px ;
    background-color: var(--searchbar-background);
    // height: 37px;
    border-radius: 8px;
    width: 204px;
    border: 1px solid #DBDDED;
}

