/* 
  Styling for the notification list and items. The list is displayed as a column 
  with space between each item, while the items themselves are flex containers.
*/
.notificationList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 15px;
  min-height: 150px;
  overflow: hidden;
  padding-top: 15px;
}
.notificationListDiv{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 10px;
}

/* 
    Notification item styling, ensuring it is a flex container with space between elements.
  */
.notificationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
    Label styling for the radio button with flexbox to ensure proper alignment.
  */
.radioLabel {
  display: flex;
  align-items: center;
  width: 100%;
}

/* 
    Hides the actual radio button input, as we are using custom styles for it.
  */
.radioInput {
  display: none;
}

/* 
    Styling for the content section of the notification, arranged using flexbox.
  */
.notificationContent {
  display: flex;
  align-items: center;
  width: 100%;
}

/* 
    Notification message style with flexible growth, making it expand to fill available space.
  */
.notificationMessage {
  display: flex;
  flex-grow: 1;
  font-size: 0.68rem;
  color: var(--primary-font-color-dark);
}

/* 
    Custom radio button appearance, using a circle before the content for a styled effect.
  */

.radioClass {
  height: 100%!important;
  display: flex;
  align-items: flex-start;
  /* Golden color for the radio button and its hover/active states */
  :global(.ant-radio-inner) {
    border-color:var(--primary-golden-color-medium)!important; /* Golden outer border */
    color:var(--primary-golden-color-medium)!important;
    background-color: var(--primary-golden-color-medium)!important;
    border-width: 5px!important;
    width: 1px!important;
    height: 1px!important;
    margin-top: -9px;
  }
  :global(.ant-radio-inner::after) {
    border-color:var(--primary-golden-color-medium)!important; /* Golden outer border */
    color:var(--primary-golden-color-medium)!important;
    background-color: var(--primary-golden-color-medium)!important;
    border-width: 5px!important;
 
  }
 

  
}

.skeleton{
  padding-top:15px ;
}
.classLoading{
  margin-bottom: 15px;
}