.moduleHeaderwrpper{
    position: fixed;
    top: 0 !important;
    left: 293px !important;
    background-color: var(--page-background);
    z-index: 999;
    padding: 25px 40px;
    width: calc(100vw - 293px);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 76px;
    justify-content: space-between;
    
}

.leftContainer{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    width: auto;
    

    span{
        // max-width: 34px;
        max-height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    h2{
        color: var(--primary-font-color-dark);
        size: var(--heading-1-size);
        font-weight: var(--sub-heading-font-weight);
    }

    .addButton{
      font-size: 14px;
      margin-left: 16px;
    }
    
}

.rightContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;

}


@media(max-width:1200px){
    .moduleHeaderwrpper{
        left: 80px !important;
        width: calc(100vw - 80px);
    }
}