.notificationCard {
    width: 100%;
    height: 100%;
    background-color:var(--container-color);
    border-radius: 12px;
    padding: 24px !important;
  
  }

  .customSkeletonDatepicker{
    margin-bottom: 0px!important;
  }

