.mainContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: transparent;
  height: max-content;
}


.scrollContainer {
  width: 100%;
  overflow-x: scroll; // Enable horizontal scrolling
  overflow-y: hidden;
}

.scrollContainer::-webkit-scrollbar {
  display: block !important;
  width: 4px !important;
  height: 4px;
}

.scrollContainer::-webkit-scrollbar {
  display: block !important;
  width: 4px !important;
  background-color: transparent;
}

.scrollContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0) !important;
  background-color: #D9D9D9;
  cursor: grabbing;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: var(--primary-golden-color-medium);
  }
}

.scrollContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}



.tableWrapper {
  min-width: 1024px;
  z-index: 1100;
}


.actionButtons {
  margin: 0;
  right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 100%;
  height: max-content;

  .backButton{
    background-color: transparent;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--heading-3-size);
    color: var(--primary-golden-color-dark);
    font-weight: var(--sub-heading-font-weight);
    text-decoration: underline;
  }
}

.tableContainer {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 20px;
}

.tableHeader {
  display: flex;
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: bold;
}

.headerCell {
  flex: 1;
  text-align: center;
  padding: 8px;
}

.tableRow {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px;
}

.rowCell {
  flex: 1;
  text-align: center;
  padding: 8px;
}

.timeInput {
  width: 60px;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fafafa;
}

.timeInput:focus {
  border-color: #000;
}

.addRow {
  background-color: #f9f9f9;
}

.addRow .rowCell {
  font-weight: normal;
  cursor: pointer;
}

.addRow input {
  background-color: #fff;
  border: 1px dashed #ccc;
}

.addRow .rowCell:last-child {
  font-weight: bold;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  gap: 10px;
  background-color: transparent;
  color: var(--primary-golden-color-dark);
  font-size: var(--default-font-size);
  font-weight: var(--sub-heading-font-weight);
  position: relative;
  cursor: pointer;

  span {
    width: 16px;
    height: 16px;
  }
}

.addButtonWrapper {
  z-index: 1000;
}

.rowWiseTotal {
  border-left: 1px solid var(--primary-golden-color-dark);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  p {
    width: 100%;
    text-align: center;
  }
}

.taskName {
  display: block;
  width: 100%;
  color: var(--primary-font-color-dark);
  font-weight: var(--sub-heading-font-weight) !important;
  font-size: var(--default-font-size);
}

.projectname {
  font-size: var(--default-font-size);
  color: var(--secondary-font-color-dark);
  font-weight: var(--default-font-weight);
}

.tableDataCell {
  padding: 5px 20px;
  width: 100%;
  text-align: left;
}

.approved {
  span {
    color: var(--success-font-color) !important;
  }
}

.rejected {
  span {
    color: var(--danger-primary-font-color) !important;
  }
}



.dateTitles{
  display: flex;
  flex-direction: column;
  color: var(--grey-font-colo);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
}

.holidayDateTitles{
  color:var(--holiday-font-color);
}

.deleteButton{
  background-color: transparent;
  border: none;
}

.deleteButton:disabled{
  opacity: 0.5;
}

.modalContent{
  display: flex;
  flex-direction: column;
  color: var(--disabled-button-background-dark);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
}