.iconInputFieldLeftWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconInputFieldRightWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.inputfield {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 0 7px;
  font-size: var(--default-font-size);
  line-height: 14px;


}
.inputfield:hover {
  background-color: transparent;
}
.inputfield:focus {
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  box-shadow: none;
}

.icon {
  padding-top: 2px;
  display: flex;


}

.inputfield::placeholder {
  font-weight: var(--thin-font-weight);
  font-size: var(--default-font-size);
}
