.modalDiv {
  :global(.ant-modal-content) {
    border-radius: 20px !important;
    overflow: hidden;
    height: 550px;
    padding: 0px !important;
  }
}
.formsContentDiv {
  overflow-y: scroll;
  padding: 0px 24px 0px 24px;
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--container-color);
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}

.titleClass {
  padding: 24px 24px 0px 24px;
}
.bottomClass {
  padding: 24px 24px 24px 24px;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .requiredIndicator {
    color: #ff4d4f; // Default Ant Design error color
    margin-left: 4px;
  }
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}


  .formItems {
    width: 100%;

    :global(.ant-form-item-explain-error) {
      font-size: 11px !important;
      color: #ff4d4f !important; // Optional: Customize the color
      letter-spacing: 0.5px;
    }
  }


.customSelect {
  border-radius: 8px;
  width: 100% !important;
  max-width: 250px !important;
  height: 48px;
  display: flex;
  align-items: center;
}

.customSelect:global(.ant-select .ant-select-selector){
  &:hover{
    border-color: var(--primary-golden-color-medium) !important;
  }

  &:focus-within{
    border-color: var(--primary-golden-color-medium) !important;
    box-shadow: 0 0 4px var(--primary-golden-color-medium) !important;
  }
}

.customMenu {
  // Dropdown menu styles
  background-color: #297932 !important; // Example background color
  border-radius: 8px;
  padding: 8px;

  &:global(.rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-inner){
    background-color: #ff4d4f !important;
  }

  &.ant-select-item-option-selected {
    background-color: orange !important; // Set the background color of the selected option
    color: #fff !important; // Text color for better visibility on orange

    .ant-select-item-option-state {
      // Tick mark color
      color: #fff !important; // White tick mark for contrast
    }
  }

  .ant-select-item-option {
    &:hover {
      background-color: #ffe6cc; // Optional: Hover effect for options
    }
  }
}


.ant-picker-outlined:focus-within{
  border-color: var(--primary-golden-color-medium) !important;
}

.customDatePicker:global(.ant-picker){
  width: 100%;
  padding: 12px;
  &:hover{
    border-color: var(--primary-golden-color-medium);
  }

  &:focus-within{
    border-color: var(--primary-golden-color-medium);
    box-shadow: 0 0 4px var(--primary-golden-color-medium) !important;
  }
}



.customInput {
  border-radius: 8px;
  height: 48px;
}

.customInput:global(.ant-input){
  &:hover{
    border-color: var(--primary-golden-color-medium);
  }

  &:focus-within{
    border-color: var(--primary-golden-color-medium);
    box-shadow: 0 0 4px var(--primary-golden-color-medium) !important;
  }
}

.customTextarea {
  border-radius: 8px;
  
}

// .custom-dropdown .ant-select-item-option-selected {
//   background-color: #e6f7ff !important; /* Change background color of selected option */
//   color: #ff8818 !important; /* Change text color */
// }

// .custom-dropdown .ant-select-item-option-selected .ant-select-item-option-state {
//   color: #52c41a !important; /* Change tick mark color */
// }

