.container {
  position: relative;
  margin: 25vh auto;
  padding: 0 48px; // Add padding for smaller screens
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  min-width: 320px;
  width: 100%;
  max-height: 395px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-rubik);

  h3 {
    font-size: var(--heading-1-size);
    font-weight: var(--main-heading-font-weight);
    line-height: 1.5; // Adjust line height
    color: var(--primary-font-color-dark);
    margin-bottom: 40px;
  }

  .googleButton{
    width: 100%;
    max-width: 375px;
    margin-left: 0px; 
  }

  button {
    background-color: transparent;
    border: 1px solid var(--secondary-font-color-dark);
    color: var(--secondary-font-color-dark);

    &:hover {
      background-color: transparent !important;
    }
  }



  .error {
    color: red;
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    text-align: left;
    margin-top: 10px; // Adjust margin for smaller screens
  }

  .divider {
    margin-top: 32px;
    margin-bottom:32px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center; // Align vertically

    .hr {
      width: 100%;
      height: 1px;
      background-color: #646464;
    }

    p {
      font-size: var(--default-font-size);
      font-weight: var(--default-font-weight);
      line-height: 1;
      color: #646464;
    }
  }

  .inputContainer {
    position: relative;
    width: 100%; // Ensure input spans full width
  }

  .emailButton {
    font-size: var(--heading-3-size);
    padding: 12px 24px;
    height: 42px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: var(--primary-golden-color-dark);
    color: white;
    margin-top: 32px;
    font-weight: var(--sub-heading-font-weight);
    line-height: 18.96px;

    &:hover {
      background: #dda045 !important;
    }
  }
}

.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(117.98deg, rgba(244, 244, 244, 0.8) -2.66%, rgba(244, 235, 220, 0.8) 119.75%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

// Media Queries for Smaller Screens
@media screen and (max-width: 740px) {

  .form {
    max-width: 100%; // Allow form to span full width
    width: 100%;

    h3 {
      font-size: 1.5rem; // Adjust font size for headings
    }

    .googleButton{
      width: 100%;
      max-width: 100%;
      margin-left: 0px; 
    }
  
    .button {
      font-size: 1rem; // Reduce button font size
      padding: 10px 20px; // Adjust padding
    }
  
    .inputContainer {
      width: 100%; // Ensure inputs span full width
    }
  }


}

// Media Queries for Smaller Screens
@media screen and (max-width: 600px) {

  .container {
    position: relative;
    margin: 15vh auto;
    padding: 0 48px; // Add padding for smaller screens
  }
  
  .form {
    max-width: 375px; // Allow form to span full width
    width: 100%;
  }
}

