.employeeInfo {
  .header {
    display: flex;
    align-items: center;
    margin-top:26px;
    margin-bottom: 16px;
    background: var(--container-color);
    padding: 24px;
    gap: 120px;
  }

  .avatar {
    background: var( --searchbar-background);
  }

  .basicInfo{
    width: 50%;
  }


  .headerGrid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .field {

    .label {
      color: var( --secondary-font-color-dark);
      font-size: 14px;
      margin-bottom: 8px;
    }

    .value {
      color: #262626;
      font-size: 16px;
    }
  }

  .details {
    padding: 24px;
    background: var(--container-color);
  }

  .detailsGrid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }


}
